<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.optimove.flutter">
  <application>
      <provider android:name=".OptimoveInitProvider"
          android:authorities="${applicationId}.optimoveinitprovider"
          android:exported="false" />
      <!-- Optimove FCM handler -->
      <service android:name="com.optimove.android.optimobile.FirebaseMessagingService" android:exported="false">
          <intent-filter>
              <action android:name="com.google.firebase.MESSAGING_EVENT" />
          </intent-filter>
      </service>

      <receiver android:name=".PushReceiver" android:exported="false">
          <intent-filter>
              <action android:name="com.optimove.push.RECEIVED" />
              <action android:name="com.optimove.push.OPENED" />
              <action android:name="com.optimove.push.BUTTON_CLICKED" />
          </intent-filter>
      </receiver>
  </application>

    <!-- https://developer.android.com/training/package-visibility/use-cases#check-browser-available -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="market" />
        </intent>
    </queries>
</manifest>
